table {
  background-color: red !important;
}

.table {
  background-color: red !important;
}

#table {
  background-color: red !important;
}

.reportTable {
  background-color: red !important;
}

th {
  background-color: red !important;
}

td {
  background-color: red !important;
}
