#visContainer {
  z-index: 0;
  background-color: red;
}

#visSvg {
  z-index: 1;
  background-color: red;
}

table.reportTable {
  width: 100%;
  table-layout: auto;
  opacity: 0;
  transition: opacity 1000ms;
  background-color: red;
}

table.reportTable.reveal {
  opacity: 1;
  background-color: red;
}
